- var src = "color-1.css"
doctype html
html(lang='en')
    head
      include ../../_assets/ltr/includes/header
    body.light-footer
      include ../../_assets/ltr/components/loader
      // home section
      section.authentication-form.coming-soon
        .innerpage-decor
          .innerpage-circle1
            img(src='assets/images/Testimonial2.png', alt='')
          .innerpage-circle2
            img(src='assets/images/Testimonial1.png', alt='')
        .container-fluid
          .row
            .col-xl-6.offset-xl-3
              .fadeInLeft-land-caption.text-center
                div
                  div
                    img.caption-img(src='assets/images/logoimage.png', alt='caption-img')
                    .clock-box
                      h3 We Are Coming soon
                      p Please check back again within Some Days as We're Pretty Close
                      ul.p-0.m-0
                        li
                          span#days
                          | days
                        li
                          span#hours
                          | Hours
                        li
                          span#minutes
                          | Minutes
                        li
                          span#seconds
                          | Seconds
                    a(href='#')
                      img.store(src='assets/images/appstore.png', alt='appstore')
                    a(href='#')
                      img.ml-4.store(src='assets/images/play-store.png', alt='play-store')
      // home section end
      include ../../_assets/ltr/components/newsletter
      include ../../_assets/ltr/includes/footer
      include ../../_assets/ltr/includes/footer-files
      // timer js file
      script(src='assets/js/timer.js')
