- var src = "color-1.css"
- var inner = "index.html"
doctype html
html(lang='en')
    head
      include ../../_assets/ltr/includes/header
    body.light-footer
      include ../../_assets/ltr/components/loader
      include ../../_assets/ltr/includes/nav
      .page-margin
      // breadcrumb start
      .breadcrumb-bg
        .container
          .row
            .col-md-6.col-sm-6.col-text-center.d-align-center
              h2.title
                span FAQ
            .col-md-6.col-sm-6.col-text-center
              nav.blog-bradcrumb(aria-label='breadcrumb')
                ol.breadcrumb.bg-transparent.mb-0
                  li.breadcrumb-item
                    a(href='index.html') Home
                  li.breadcrumb-item.active
                    a(href='#') FAQ
      // breadcrumb end
      section
        .innerpage-decor
          .innerpage-circle1
            img(src='assets/images/Testimonial2.png', alt='')
          .innerpage-circle2
            img(src='assets/images/Testimonial1.png', alt='')
        // faq in
        .faq
          .container
            .row
              .col-md-12
                #accordion
                  .card.border-theme.mb-3.radius-0
                    #headingOne.card-header(role='heading', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                      a
                        | Collapsible Group Item #1
                        i.fa.fa-angle-down
                    #collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#accordion')
                      .card-body
                        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  .card.border-theme.mb-3.radius-0
                    #headingTwo.card-header(role='heading', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                      a
                        | Collapsible Group Item #2
                        i.fa.fa-angle-down
                    #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordion')
                      .card-body
                        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  .card.border-theme.mb-3.radius-0
                    #headingThree.card-header(role='heading', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                      a
                        | Collapsible Group Item #3
                        i.fa.fa-angle-down
                    #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordion')
                      .card-body
                        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  .card.border-theme.radius-0
                    #headingFour.card-header(role='heading', data-toggle='collapse', data-target='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                      a
                        | Collapsible Group Item #4
                        i.fa.fa-angle-down
                    #collapseFour.collapse(aria-labelledby='headingFour', data-parent='#accordion')
                      .card-body
                        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        // faq up
      include ../../_assets/ltr/includes/footer
      include ../../_assets/ltr/includes/footer-files