- var src = "color-1.css"
- var inner = "index.html"
doctype html
html(lang='en')
    head
      include ../../_assets/ltr/includes/header
    body.light-footer
      include ../../_assets/ltr/components/loader
      include ../../_assets/ltr/includes/nav
      .page-margin
        // breadcrumb start
        .breadcrumb-bg
          .container
            .row
              .col-md-6.col-sm-6.col-text-center.d-align-center
                h2.title
                  span Review
              .col-md-6.col-sm-6.col-text-center
                nav.blog-bradcrumb(aria-label='breadcrumb')
                  ol.breadcrumb.bg-transparent.mb-0
                    li.breadcrumb-item
                      a(href='index.html') Home
                    li.breadcrumb-item.active
                      a(href='#') Review
        // breadcrumb end
        // sign in
        section
          .innerpage-decor
            .innerpage-circle1
              img(src='assets/images/Testimonial2.png', alt='')
            .innerpage-circle2
              img(src='assets/images/Testimonial1.png', alt='')
          .review-block
            .container
              .row.margin-bottom
                .col-lg-4.col-md-6
                  .review-box
                    img.img-fluid(src='assets/images/avtar/22.jpg', alt='review')
                    h5 John Martin
                    .rating-star
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                    .review-message
                      p
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                .col-lg-4.col-md-6
                  .review-box
                    img.img-fluid(src='assets/images/avtar/1.jpg', alt='review')
                    h5 John Martin
                    .rating-star
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                    .review-message
                      p
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                .col-lg-4.col-md-6
                  .review-box
                    img.img-fluid(src='assets/images/avtar/15.jpg', alt='review')
                    h5 John Martin
                    .rating-star
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                    .review-message
                      p
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                .col-lg-4.col-md-6
                  .review-box
                    img.img-fluid(src='assets/images/avtar/22.jpg', alt='review')
                    h5 John Martin
                    .rating-star
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                    .review-message
                      p
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                .col-lg-4.col-md-6
                  .review-box
                    img.img-fluid(src='assets/images/avtar/15.jpg', alt='review')
                    h5 John Martin
                    .rating-star
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                    .review-message
                      p
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                .col-lg-4.col-md-6
                  .review-box
                    img.img-fluid(src='assets/images/avtar/1.jpg', alt='review')
                    h5 John Martin
                    .rating-star
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                    .review-message
                      p
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        // sign up
      include ../../_assets/ltr/includes/footer
      include ../../_assets/ltr/includes/footer-files