- var src = "color-1.css"
doctype html
html(lang='en')
    head
      include ../../_assets/ltr/includes/header
    body
      include ../../_assets/ltr/components/loader
      section.authentication-form
        .innerpage-decor
          .innerpage-circle1
            img(src='assets/images/Testimonial2.png', alt='')
          .innerpage-circle2
            img(src='assets/images/Testimonial1.png', alt='')
        div
          h2.title.text-center
            span  Login
          p.text-center Welcome to tovo, Please Login with your personal account information.
          .card
            form.theme-form
              .form-group
                input.form-control(type='email', placeholder='email address', required='required')
              .form-group
                input.form-control(required='', name='login[password]', type='password', placeholder='Password')
                .show-hide
                  span.show
              .form-group.row
                .custom-control.custom-checkbox.col-6
                  input#customControlAutosizing.custom-control-input(type='checkbox')
                  label.custom-control-label(for='customControlAutosizing') Remember me
                a.text-right.col-6.theme-link(href='forget-pwd.html') lost your password
              .form-button.text-center
                button.btn.btn-custom.btn-lg.theme-color(type='submit') Login
              .or-saparator
                span or
              h6.text-center.mt-0.mb-3 Sign in with:
              .form-button.text-center.social-btns
                button.btn.btn-custom.fb(type='submit') Facebook
                button.btn.btn-custom.ggl(type='submit') Google
      include ../../_assets/ltr/includes/footer-files