// About Start
section#about.about
  .about-decor
    .about-circle1
      img(src='assets/images/team1.png', alt='team1')
    .about-circle2
      img(src='assets/images/main-banner1.png', alt='banner1')
  .container
    .row
      .col-md-5
        .about-contain
          div
            h2.title
              | about the 
              span tovo app
            p.caption-about
              | TOVO is dynamic, high-performance and easy to use landing page theme. The theme is developed focusing on the attractive designs and easy customizable features.
            .row.sm-mb
              .col-6
                ul.about-style
                  li.abt-hover
                    .about-icon
                      .icon-hover
                        img(src='assets/images/icon1.png', alt='easy-to-customized')
                    .about-text
                      h3 Easy customize
                  li.abt-hover
                    .about-icon
                      .icon-hover
                        img(src='assets/images/icon3.png', alt='easy-to-use')
                    .about-text
                      h3 easy to use
              .col-6
                ul.about-style
                  li.abt-hover
                    .about-icon
                      .icon-hover
                        img(src='assets/images/icon2.png', alt='Awasome-Design')
                    .about-text
                      h3 Nice Design
                  li.abt-hover
                    .about-icon
                      .icon-hover
                        img(src='assets/images/icon4.png', alt='SEO-Friendly')
                    .about-text
                      h3 SEO Friendly
            .top-margin
              button.btn.btn-custom.theme-color.theme-color(type='button') view more
      .col-md-7.d-medium-none
        .about-right
          .about-phone
            img.img-fluid(src='assets/images/aboutus.png', alt='aboutus')
// About End
