// blog Section Start
section#blog.blog
  .about-decor
    .about-circle1
      img(src='assets/images/team1.png', alt='')
    .about-circle2
      img(src='assets/images/main-banner1.png', alt='')
  .container
    .row
      .col-sm-12
        h2.title
          | latest 
          span blog
      .col-sm-12
        .blog-carousel.owl-carousel.owl-theme
          .blog-item
            .blog-block
              .blog-box
                .overflow-hidden
                  a(href='blog-details.html')
                    img(src='assets/images/blog/8.jpg', alt='')
            .blog-text
              h6 12 march 2015
              a(href='blog-details.html')
                h3
                  | The first line of Lorem Ipsum Lorem ipsum dolor sit amet comes from a line in section 1.10.32.
              h5 posted by Mark jkcno, 10 hits, 50 comment
          .blog-item
            .blog-block
              .blog-box
                .overflow-hidden
                  a(href='blog-details.html')
                    img(src='assets/images/blog/blog3.jpg', alt='')
            .blog-text
              h6 25 january 2018
              a(href='blog-details.html')
                h3 There are many variations of passages of Lorem Ipsum available, 
              h5 posted by johan doe, 1 hits, 5 comment
          .blog-item
            .blog-block
              .blog-box
                .overflow-hidden
                  a(href='blog-details.html')
                    img(src='assets/images/blog/6.jpg', alt='')
            .blog-text
              h6 15 jun 2016
              a(href='blog-details.html')
                h3 Lorem Ipsum has been the industry's standard dummy text 
              h5 posted by johanson let, 15 hits, 30 comment
          .blog-item
            .blog-block
              .blog-box
                .overflow-hidden
                  a(href='blog-details.html')
                    img(src='assets/images/blog/7.jpg', alt='')
            .blog-text
              h6 10 February 2012
              a(href='blog-details.html')
                h3
                  | All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary
              h5 posted by John Shipmen, 6 hits, 8 comment
          .blog-item
            .blog-block
              .blog-box
                .overflow-hidden
                  a(href='blog-details.html')
                    img(src='assets/images/blog/9.jpg', alt='')
            .blog-text
              h6 28 December 2017
              a(href='blog-details.html')
                h3
                  | The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
              h5 posted by Walo Boni, 9 hits, 4 comment
// blog Section End
