// Feature Section start
section#feature.feature
  .feature-decor
    .feature-circle1
      img(src='assets/images/feature2.png', alt='')
  .container
    .row
      .feature-phone
        img.img-fluid(src='assets/images/222.png', alt='')
      .offset-lg-4.col-lg-8
        .row
          .col-sm-12.mrgn-md-top
            h2.title
              | features of
              span  tovo
          .col-12.col-md-6
            ul.feature-style
              li
                .feature-icon
                  img(src='assets/images/icon/1.png', alt='icon')
                .feature-subtitle
                  h3 user friendly
                div
                  p Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              li
                .feature-icon
                  img(src='assets/images/icon/3.png', alt='icon')
                .feature-subtitle
                  h3 high performance
                div
                  p Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              li
                .feature-icon
                  img(src='assets/images/icon/5.png', alt='icon')
                .feature-subtitle
                  h3 unlimited features
                div
                  p Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
          .col-12.col-md-6.sm-m-top
            ul.feature-style
              li
                .feature-icon
                  img(src='assets/images/icon/2.png', alt='icon')
                .feature-subtitle
                  h3 quick update
                div
                  p Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              li
                .feature-icon
                  img(src='assets/images/icon/4.png', alt='icon')
                .feature-subtitle
                  h3 100% secure
                div
                  p Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              li
                .feature-icon
                  img(src='assets/images/icon/6.png', alt='icon')
                .feature-subtitle
                  h3 24 x 7 support
                div
                  p Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
// Feature Section End
