// Home Section start
section#home.home
  .home-decor
    .home-circle1
      img(src='assets/images/main-banner3.png', alt='')
    .home-circle2
      img(src='assets/images/main-banner12.png', alt='')
    .home-circle3
      img(src='assets/images/main-banner1.png', alt='')
  .container
    .row
      .col-md-5
        .home-contain
          div
            img.caption-img(src='assets/images/logoimage.png', alt='caption-img')
            h4 Landing page for
            h1
              | t
              span.f-bold o
              | v
              span.f-bold o
              span.f-bold.f-color app
            p Enhance your business ideas with Powerful, Responsive, Elegant TOVO Theme.
            a(href='#')
              img.store(src='assets/images/appstore.png', alt='appstore')
            a(href='#')
              img.ml-10.store(src='assets/images/play-store.png', alt='play-store')
      .col-sm-6.offset-md-1
        .home-right
          img.img-fluid(data-tilt='', data-tilt-perspective='110', data-tilt-speed='400', data-tilt-max='1.2', src='assets/images/mobile.png', alt='mobile')
// Home Section End

