// Home Section start
section#home.home.home-two.vertical-scrolling
  .container
    .row
      .col-md-5.col-sm-12
        .home-contain
          .text-white
            .contain
              img(src='assets/images/home2/logo-icon.png', alt='logo')
              h4 Landing page for
              h1.text-white
                | t
                span.f-bold o
                | v
                span.f-bold o
                span.f-bold.f-color.text-white app
              p.slide-cap-desc Enhance your business ideas with Powerful, Responsive, Elegant TOVO Theme.
              a(href='#')
                img.store(src='assets/images/appstore.png', alt='appstore')
              a(href='#')
                img.ml-10.store(src='assets/images/play-store.png', alt='play-store')
            .play-button
              a.popup-vimeo.animated-circle(href='https://player.vimeo.com/video/54298665?color=ECCE52')
                img.img-fluid(src='assets/images/home2/play-button.png', alt='play-button')
      .col-sm-7
        .home-right
          img.img-fluid(data-tilt='', data-tilt-perspective='110', data-tilt-speed='400', data-tilt-max='1.2', src='assets/images/home2/slider-caption.png', alt='slider-caption')
// Home Section End
