<!--Subscribe section start-->
<section>
   <div class="container">
      <div class="row">
         <div class="col-md-8 offset-md-2">
            <div class="footer-text">
               <img src="assets/images/email.png" alt="email">
               <h2 class="title text-center md-margin-top">subscribe to <span>newsletter</span></h2>
               <p>  There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
               <form action="https://pixelstrap.us19.list-manage.com/subscribe/post?u=5a128856334b598b395f1fc9b&amp;id=082f74cbda"  class="footer-form needs-validation" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                  <div class="form-group">
                     <input type="email" class="form-control" placeholder="enter your email" name="EMAIL" id="mce-EMAIL" required="required" >
                  </div>
                  <div class="form-button">
                     <button type="submit"  class="btn btn-custom theme-color" id="mc-submit">send</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</section>
<!--Subscribe section Ends-->