// Price Section start
section#price.price
  .container
    .row
      .col-sm-12
        .price-carousel.owl-carousel.owl-theme
          .price-item
            .price-block
              .price-type
                h2 basic
              .mrp
                h6.user-type Only the basic features
                .price-devide
                h2 $969
                h6.price-year per year
                .price-devide
              ul.price-feature
                li 1 GB of space
                li real time sync
                li unlimited attachment
                li customize theme
                li priority email support
              a.btn.btn-custom.theme-color(href='#', role='button') Select Plane
          .price-item
            .price-block
              .price-type
                h2 Standard
              .mrp
                h6.user-type Take it to the next level
                .price-devide
                h2 $969
                h6.price-year per year
                .price-devide
              ul.price-feature
                li 1 GB of space
                li real time sync
                li unlimited attachment
                li customize theme
                li priority email support
              a.btn.btn-custom.theme-color(href='#', role='button') Select Plane
          .price-item
            .price-block
              .price-type
                h2 Custom
              .mrp
                h6.user-type Our biggest plan
                .price-devide
                h2 $969
                h6.price-year per year
                .price-devide
              ul.price-feature
                li 1 GB of space
                li real time sync
                li unlimited attachment
                li customize theme
                li priority email support
              a.btn.btn-custom.theme-color(href='#', role='button') Select Plane
// Price Section End
