// Screenshot Section SStart
section#screenshot.screenshot.padding-top-bottom
  .screenshot-decor
    .screenshot-circle1
      img(src='assets/images/feature-circle-two.png', alt='feature-circle-two')
    .screenshot-circle2
      img(src='assets/images/feature-circle.png', alt='feature-circle')
    .screenshot-circle3
      img(src='assets/images/main-banner1.png', alt='feature-circle-three')
  .container
    .row
      .col-sm-12
        .screenshot-contain
          img.mobile-light-left(src='assets/images/light.png', alt='light')
          img.mob-mocup.img-fluid(src='assets/images/screenshot-mob.png', alt='screenshot-mob')
          img.mobile-light-right(src='assets/images/light-right.png', alt='light-right')
          .screenshot-carousel.owl-carousel.owl-theme
            .screenshot-item
              img(src='assets/images/app/12.jpg', alt='app')
            .screenshot-item
              img(src='assets/images/app/2.jpg', alt='app')
            .screenshot-item
              img(src='assets/images/app/3.jpg', alt='app')
            .screenshot-item
              img(src='assets/images/app/4.jpg', alt='app')
            .screenshot-item
              img(src='assets/images/app/5.jpg', alt='app')
            .screenshot-item
              img(src='assets/images/app/6.jpg', alt='app')
            .screenshot-item
              img(src='assets/images/app/7.jpg', alt='app')
            .screenshot-item
              img(src='assets/images/app/8.jpg', alt='app')
            .screenshot-item
              img(src='assets/images/app/9.jpg', alt='app')
            .screenshot-item
              img(src='assets/images/app/10.jpg', alt='app')
            .screenshot-item
              img(src='assets/images/app/11.jpg', alt='app')
            .screenshot-item
              img(src='assets/images/app/1.jpg', alt='app')
// Screenshot Section End
