// Team Section Start
section#team.team
  .team-decor
    .team-circle1
      img(src='assets/images/team1.png', alt='')
    .team-circle2
      img(src='assets/images/team3.png', alt='')
    .team-circle3
      img(src='assets/images/team.png', alt='')
  .container
    .row
      .col-sm-12
        h2.title
          | our 
          span smart team
      .col-sm-12
        div
          .team-carousel.owl-carousel.owl-theme
            .team-item
              .team-block
                .team-box
                  .team-avtar
                    img(src='assets/images/avtar/1.jpg', alt='')
                  .team-text
                    h3 mark jkcno
                    h6 designer
                  .overlay
                    ul.team-social
                      li
                        a(href='#')
                          i.fa.fa-facebook(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-google-plus(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-twitter(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-instagram(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-rss(aria-hidden='true')
            .team-item
              .team-block
                .team-box
                  .team-avtar
                    img(src='assets/images/avtar/15.jpg', alt='')
                  .team-text
                    h3 john doe
                    h6 devloper
                  .overlay
                    ul.team-social
                      li
                        a(href='#')
                          i.fa.fa-facebook(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-google-plus(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-twitter(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-instagram(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-rss(aria-hidden='true')
            .team-item
              .team-block
                .team-box
                  .team-avtar
                    img(src='assets/images/avtar/22.jpg', alt='')
                  .team-text
                    h3 johanson let
                    h6 ux designer
                  .overlay
                    ul.team-social
                      li
                        a(href='#')
                          i.fa.fa-facebook(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-google-plus(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-twitter(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-instagram(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-rss(aria-hidden='true')
            .team-item
              .team-block
                .team-box
                  .team-avtar
                    img(src='assets/images/avtar/1.jpg', alt='')
                  .team-text
                    h3 John Shipmen
                    h6 tester
                  .overlay
                    ul.team-social
                      li
                        a(href='#')
                          i.fa.fa-facebook(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-google-plus(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-twitter(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-instagram(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-rss(aria-hidden='true')
            .team-item
              .team-block
                .team-box
                  .team-avtar
                    img(src='assets/images/avtar/22.jpg', alt='')
                  .team-text
                    h3 Walo Boni
                    h6 app devloper
                  .overlay
                    ul.team-social
                      li
                        a(href='#')
                          i.fa.fa-facebook(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-google-plus(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-twitter(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-instagram(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-rss(aria-hidden='true')
            .team-item
              .team-block
                .team-box
                  .team-avtar
                    img(src='assets/images/avtar/1.jpg', alt='')
                  .team-text
                    h3 John Shipmen
                    h6 app designer
                  .overlay
                    ul.team-social
                      li
                        a(href='#')
                          i.fa.fa-facebook(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-google-plus(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-twitter(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-instagram(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-rss(aria-hidden='true')
            .team-item
              .team-block
                .team-box
                  .team-avtar
                    img(src='assets/images/avtar/15.jpg', alt='')
                  .team-text
                    h3 Robert Tomkins
                    h6 ceo
                  .overlay
                    ul.team-social
                      li
                        a(href='#')
                          i.fa.fa-facebook(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-google-plus(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-twitter(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-instagram(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-rss(aria-hidden='true')
            .team-item
              .team-block
                .team-box
                  .team-avtar
                    img(src='assets/images/avtar/22.jpg', alt='')
                  .team-text
                    h3 Rachel Andalaft
                    h6 cto
                  .overlay
                    ul.team-social
                      li
                        a(href='#')
                          i.fa.fa-facebook(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-google-plus(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-twitter(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-instagram(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-rss(aria-hidden='true')
// team Section End
