// testimonial Section start
section#testimonial.testimonial
  .testimonial-decor
    .testi-circle1
      img(src='assets/images/Testimonial2.png', alt='')
    .testi-circle2
      img(src='assets/images/Testimonial1.png', alt='')
  .container
    .row
      .col-lg-10.offset-lg-1
        .testimonial-carousel.owl-carousel.owl-theme
          .testimonial-item
            .testimonial-block
              .testimonial-avtar
                img(src='assets/images/avtar/22.jpg', alt='')
              .testimonial-text
                p
                  | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.Contrary to popular belief, Lorem Ipsum is not simply random text.
                h3 mark jecno
                h6 designer
          .testimonial-item
            .testimonial-block
              .testimonial-avtar
                img(src='assets/images/avtar/22.jpg', alt='')
              .testimonial-text
                p
                  | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.Contrary to popular belief, Lorem Ipsum is not simply random text.
                h3 Adegoke Yusuff
                h6 Content Writer
          .testimonial-item
            .testimonial-block
              .testimonial-avtar
                img(src='assets/images/avtar/22.jpg', alt='')
              .testimonial-text
                p
                  | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.Contrary to popular belief, Lorem Ipsum is not simply random text.
                h3 John Shipmen
                h6 Lead Developer
// testimonial Section End