// blog Section Start
section#blog.blog
  .about-decor
    .about-circle1
      img(src='assets/images/team1.png', alt='')
    .about-circle2
      img(src='assets/images/main-banner1.png', alt='')
  .container
    .row
      .col-sm-12
        h2.title
          | أحدث 
          span  مدونة 
      .col-sm-12
        .blog-carousel-rtl.owl-carousel.owl-theme
          .blog-item
            .blog-block
              .blog-box
                .overflow-hidden
                  a(href='blog-details.html')
                    img(src='assets/images/blog/8.jpg', alt='')
            .blog-text
              h6  12 مارس 2015 
              a(href='blog-details.html')
                h3
                  | أبجد هوز هو ببساطة النص الدموي لصناعة الطباعة والتنضيد. لوريم. صناعة التنضيد. لوريم
                  | نوع الإعداد
              h5 أرسلت بواسطة مارك جي لا, 10 الزيارات, 50 تعليق
          .blog-item
            .blog-block
              .blog-box
                .overflow-hidden
                  a(href='blog-details.html')
                    img(src='assets/images/blog/blog3.jpg', alt='')
            .blog-text
              h6  12 مارس 2015 
              a(href='blog-details.html')
                h3
                  | أبجد هوز هو ببساطة النص الدموي لصناعة الطباعة والتنضيد. لوريم. صناعة التنضيد. لوريم
                  | نوع الإعداد
              h5 أرسلت بواسطة مارك جي لا, 10 الزيارات, 50 تعليق
          .blog-item
            .blog-block
              .blog-box
                .overflow-hidden
                  a(href='blog-details.html')
                    img(src='assets/images/blog/6.jpg', alt='')
            .blog-text
              h6  12 مارس 2015 
              a(href='blog-details.html')
                h3
                  | أبجد هوز هو ببساطة النص الدموي لصناعة الطباعة والتنضيد. لوريم. صناعة التنضيد. لوريم
                  | نوع الإعداد
              h5 أرسلت بواسطة مارك جي لا, 10 الزيارات, 50 تعليق
          .blog-item
            .blog-block
              .blog-box
                .overflow-hidden
                  a(href='blog-details.html')
                    img(src='assets/images/blog/7.jpg', alt='')
            .blog-text
              h6  12 مارس 2015 
              a(href='blog-details.html')
                h3
                  | أبجد هوز هو ببساطة النص الدموي لصناعة الطباعة والتنضيد. لوريم. صناعة التنضيد. لوريم
                  | نوع الإعداد
              h5 أرسلت بواسطة مارك جي لا, 10 الزيارات, 50 تعليق
          .blog-item
            .blog-block
              .blog-box
                .overflow-hidden
                  a(href='blog-details.html')
                    img(src='assets/images/blog/9.jpg', alt='')
            .blog-text
              h6  12 مارس 2015 
              a(href='blog-details.html')
                h3
                  | أبجد هوز هو ببساطة النص الدموي لصناعة الطباعة والتنضيد. لوريم. صناعة التنضيد. لوريم
                  | نوع الإعداد
              h5 أرسلت بواسطة مارك جي لا, 10 الزيارات, 50 تعليق
// blog Section End
