// Feature Section start
section#feature.feature
  .feature-decor
    .feature-circle1
      img(src='assets/images/feature2.png', alt='')
  .container
    .row
      .feature-phone
        img.img-fluid(src='assets/images/rtl/222.png', alt='')
      .set-margin.col-lg-8
        .row
          .col-sm-12.mrgn-md-top
            h2.title
              | ميزات 
              span  توفو 
          .col-12.col-md-6
            ul.feature-style
              li
                .feature-icon
                  img(src='assets/images/icon/1.png', alt='icon')
                .feature-subtitle
                  h3  سهل الاستخدام 
                div
                  p  أبجد هوز هو ببساطة نص شكلي في صناعة الطباعةوالتنضيد. 
              li
                .feature-icon
                  img(src='assets/images/icon/3.png', alt='icon')
                .feature-subtitle
                  h3  الأداء العالي 
                div
                  p  أبجد هوز هو ببساطة نص شكلي في صناعة الطباعةوالتنضيد. 
              li
                .feature-icon
                  img(src='assets/images/icon/5.png', alt='icon')
                .feature-subtitle
                  h3  ميزات غير محدودة 
                div
                  p  أبجد هوز هو ببساطة نص شكلي في صناعة الطباعةوالتنضيد. 
          .col-12.col-md-6.sm-m-top
            ul.feature-style
              li
                .feature-icon
                  img(src='assets/images/icon/2.png', alt='icon')
                .feature-subtitle
                  h3  التحديث السريع 
                div
                  p  أبجد هوز هو ببساطة نص شكلي في صناعة الطباعةوالتنضيد. 
              li
                .feature-icon
                  img(src='assets/images/icon/4.png', alt='icon')
                .feature-subtitle
                  h3  آمن بنسبة 100٪ 
                div
                  p  أبجد هوز هو ببساطة نص شكلي في صناعة الطباعةوالتنضيد. 
              li
                .feature-icon
                  img(src='assets/images/icon/6.png', alt='icon')
                .feature-subtitle
                  h3  دعم 24 × 7 
                div
                  p  أبجد هوز هو ببساطة نص شكلي في صناعة الطباعةوالتنضيد. 
// Feature Section End
