// Map Section Start
section.p-0
  .container-fluid
    .bottom-section
      .row
        .col-md-6.p-0
          .address-bar
            div
              ul.footer-style
                li
                  .footer-icon
                    img(src='assets/images/locate.png', alt='locate')
                  .footer-address
                    a(href='#')  B-17 مركز ABC، بالقرب من معبد، USA 123456 
                li
                  .footer-icon
                    img(src='assets/images/telephone.png', alt='telephone')
                  .footer-address
                    a(href='#') 122-456-7890 / 124-789-5690
                li
                  .footer-icon
                    img(src='assets/images/fotter-email.png', alt='fotter-email')
                  .footer-address
                    a(href='#') support@compnay.com
                li
                  .footer-icon
                    img(src='assets/images/fax.png', alt='')
                  .footer-address
                    a(href='#') 123-456 / 456-789
        .col-md-6.p-0
          iframe.md-height(src='https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d35391.48685150366!2d72.77537852898678!3d21.18930639680146!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1530610361925', allowfullscreen='')
// Map Section Ends
