// Subscribe section start
section
  .container
    .row
      .col-md-8.m-auto
        .footer-text
          img(src='assets/images/email.png', alt='email')
          h2.title-centre-md-margin-top
            | الاشتراك في 
            span  النشرة الإخبارية 
          p
            | هناك العديد من الاختلافات في الممرات. أبجد هوز هو ببساطة النص الدموي لصناعة الطباعة والتنضيد. لوريم. صناعة التنضيد. لوريم نوع الإعداد
          form#mc-embedded-subscribe-form.footer-form.needs-validation(action='https://pixelstrap.us19.list-manage.com/subscribe/post?u=5a128856334b598b395f1fc9b&id=082f74cbda', method='post', name='mc-embedded-subscribe-form', target='_blank')
            .form-group
              input#mce-EMAIL.form-control(type='email', placeholder='أدخل بريدك الالكتروني', name='EMAIL', required='required')
            .form-button
              button#mc-submit.btn.btn-custom.theme-color(type='submit') إرسال
// Subscribe section Ends
