// Price Section start
section#price.price
  .container
    .row
      .col-sm-12
        .price-carousel-rtl.owl-carousel.owl-theme
          .price-item
            .price-block
              .price-type
                h2  الأساسية 
              .mrp
                h6.user-type  فقط الميزات الأساسية 
                .price-devide
                h2 $969
                h6.price-year كل سنة
                .price-devide
              ul.price-feature
                li  1 غيغابايت من المساحة
                li  المزامنة في الوقت الفعلي
                li  مرفق غير محدود
                li  تخصيص السمة
                li  دعم البريد الإلكتروني للأولوية
              a.btn.btn-custom.theme-color(href='#', role='button') اختر الطائرة
          .price-item
            .price-block
              .price-type
                h2 اساسي
              .mrp
                h6.user-type خذ ها للمستوى الثاني
                .price-devide
                h2 $969
                h6.price-year كل سنة
                .price-devide
              ul.price-feature
                li  1 غيغابايت من المساحة
                li  المزامنة في الوقت الفعلي
                li  مرفق غير محدود
                li  تخصيص السمة
                li  دعم البريد الإلكتروني للأولوية
              a.btn.btn-custom.theme-color(href='#', role='button') اختر الطائرة
          .price-item
            .price-block
              .price-type
                h2 اساسي
              .mrp
                h6.user-type خذ ها للمستوى الثاني
                .price-devide
                h2 $969
                h6.price-year كل سنة
                .price-devide
              ul.price-feature
                li  1 غيغابايت من المساحة
                li  المزامنة في الوقت الفعلي
                li  مرفق غير محدود
                li  تخصيص السمة
                li  دعم البريد الإلكتروني للأولوية
              a.btn.btn-custom.theme-color(href='#', role='button') اختر الطائرة
// Price Section End
