// Team Section Start
section#team.team
  .team-decor
    .team-circle1
      img(src='assets/images/team1.png', alt='')
    .team-circle2
      img(src='assets/images/team3.png', alt='')
    .team-circle3
      img(src='assets/images/team.png', alt='')
  .container
    .row
      .col-sm-12
        h2.title
          span  الفريق الذكي 
      .col-sm-12
        div
          .team-carousel-rtl.owl-carousel.owl-theme
            .team-item
              .team-block
                .team-box
                  .team-avtar
                    img(src='assets/images/avtar/1.jpg', alt='')
                  .team-text
                    h3  وضع علامة جينو 
                    h6  مصمم 
                  .overlay
                    ul.team-social
                      li
                        a(href='#')
                          i.fa.fa-facebook(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-google-plus(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-twitter(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-instagram(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-rss(aria-hidden='true')
            .team-item
              .team-block
                .team-box
                  .team-avtar
                    img(src='assets/images/avtar/15.jpg', alt='')
                  .team-text
                    h3 فلان الفلاني
                    h6 مطور
                  .overlay
                    ul.team-social
                      li
                        a(href='#')
                          i.fa.fa-facebook(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-google-plus(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-twitter(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-instagram(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-rss(aria-hidden='true')
            .team-item
              .team-block
                .team-box
                  .team-avtar
                    img(src='assets/images/avtar/22.jpg', alt='')
                  .team-text
                    h3 يوهانسون دعونا
                    h6 يو العاشر مصمم
                  .overlay
                    ul.team-social
                      li
                        a(href='#')
                          i.fa.fa-facebook(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-google-plus(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-twitter(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-instagram(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-rss(aria-hidden='true')
            .team-item
              .team-block
                .team-box
                  .team-avtar
                    img(src='assets/images/avtar/1.jpg', alt='')
                  .team-text
                    h3 جون شيبمن
                    h6 اختبار
                  .overlay
                    ul.team-social
                      li
                        a(href='#')
                          i.fa.fa-facebook(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-google-plus(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-twitter(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-instagram(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-rss(aria-hidden='true')
            .team-item
              .team-block
                .team-box
                  .team-avtar
                    img(src='assets/images/avtar/22.jpg', alt='')
                  .team-text
                    h3 والو بوني
                    h6 مطور التطبيق
                  .overlay
                    ul.team-social
                      li
                        a(href='#')
                          i.fa.fa-facebook(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-google-plus(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-twitter(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-instagram(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-rss(aria-hidden='true')
            .team-item
              .team-block
                .team-box
                  .team-avtar
                    img(src='assets/images/avtar/1.jpg', alt='')
                  .team-text
                    h3 والو بوني
                    h6 مطور التطبيق
                  .overlay
                    ul.team-social
                      li
                        a(href='#')
                          i.fa.fa-facebook(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-google-plus(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-twitter(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-instagram(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-rss(aria-hidden='true')
            .team-item
              .team-block
                .team-box
                  .team-avtar
                    img(src='assets/images/avtar/15.jpg', alt='')
                  .team-text
                    h3 يوهانسون دعونا
                    h6 يو العاشر مصمم
                  .overlay
                    ul.team-social
                      li
                        a(href='#')
                          i.fa.fa-facebook(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-google-plus(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-twitter(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-instagram(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-rss(aria-hidden='true')
            .team-item
              .team-block
                .team-box
                  .team-avtar
                    img(src='assets/images/avtar/22.jpg', alt='')
                  .team-text
                    h3 والو بوني
                    h6 مطور التطبيق
                  .overlay
                    ul.team-social
                      li
                        a(href='#')
                          i.fa.fa-facebook(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-google-plus(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-twitter(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-instagram(aria-hidden='true')
                      li
                        a(href='#')
                          i.fa.fa-rss(aria-hidden='true')
// team Section End
