// testimonial Section start
section#testimonial.testimonial
  .testimonial-decor
    .testi-circle1
      img(src='assets/images/Testimonial2.png', alt='')
    .testi-circle2
      img(src='assets/images/Testimonial1.png', alt='')
  .container
    .row
      .col-lg-10.offset-lg-1
        .testimonial-carousel-rtl.owl-carousel.owl-theme
          .testimonial-item
            .testimonial-block
              .testimonial-avtar
                img(src='assets/images/avtar/22.jpg', alt='')
              .testimonial-text
                p
                  | أبجد هوز هو ببساطة النص
                  | أبجد هوز هو ببساطة النص الدموي لصناعة الطباعة والتنضيد. لوريم. صناعة التنضيد. لوريم نوع الإعداد
                  | أبجد هوز هو ببساطة النص الدموي لصناعة الطباعة والتنضيد. لوريم. صناعة التنضيد. لوريم نوع الإعداد
                  | الدموي لصناعة الطباعة والتنضيد. لوريم. صناعة التنضيد. لوريم نوع الإعداد
                h3 مارك جيكنو
                h6 مصمم
          .testimonial-item
            .testimonial-block
              .testimonial-avtar
                img(src='assets/images/avtar/22.jpg', alt='')
              .testimonial-text
                p
                  | أبجد هوز هو ببساطة النص
                  | أبجد هوز هو ببساطة النص الدموي لصناعة الطباعة والتنضيد. لوريم. صناعة التنضيد. لوريم نوع الإعداد
                  | أبجد هوز هو ببساطة النص الدموي لصناعة الطباعة والتنضيد. لوريم. صناعة التنضيد. لوريم نوع الإعداد
                  | الدموي لصناعة الطباعة والتنضيد. لوريم. صناعة التنضيد. لوريم نوع الإعداد
                h3 مارك جيكنو
                h6 مصمم
          .testimonial-item
            .testimonial-block
              .testimonial-avtar
                img(src='assets/images/avtar/22.jpg', alt='')
              .testimonial-text
                p
                  | أبجد هوز هو ببساطة النص
                  | أبجد هوز هو ببساطة النص الدموي لصناعة الطباعة والتنضيد. لوريم. صناعة التنضيد. لوريم نوع الإعداد
                  | أبجد هوز هو ببساطة النص الدموي لصناعة الطباعة والتنضيد. لوريم. صناعة التنضيد. لوريم نوع الإعداد
                  | الدموي لصناعة الطباعة والتنضيد. لوريم. صناعة التنضيد. لوريم نوع الإعداد
                h3 مارك جيكنو
                h6 مصمم
// testimonial Section End
