// Tap on Top
.tap-top
  div
    i.fa.fa-angle-double-up
// Tap on Ends
// Footer Section start
.copyright-section.index-footer
  p 2018-19 copyright by themeforest powered by pixel strap
// Footer Section End

