// Tap on Top
.tap-top
  div
    i.fa.fa-angle-double-up
// Tap on Ends
// Footer Section start
.copyright-section.index-footer
  p 2018-19 حقوق التأليف والنشر بواسطة غابةالموضوع مدعوم من حزام بكسل
// Footer Section End



