- var inner = "index.html"
- var src = "color-1.css"
doctype html
html(lang='en', dir='rtl')
    head
      include ../../_assets/rtl/includes/header
    body.blog-page.blog-detail.light-footer.rtl
      include ../../_assets/rtl/components/loader
      include ../../_assets/rtl/includes/nav
      div.page-margin
          // breadcrumb start
          .breadcrumb-bg
            .container
              .row
                .col-md-6.col-sm-6.col-text-center.d-align-center
                  h2.title
                    | مدونة
                    span  تفاصيل
                .col-md-6.col-sm-6.col-text-center
                  nav.blog-bradcrumb(aria-label='breadcrumb')
                    ol.breadcrumb.bg-transparent.mb-0
                      li.breadcrumb-item
                        a(href='index.html') الصفحة الرئيسية
                      li.breadcrumb-item.active
                        a(href='#') تفاصيل بلوق
          // breadcrumb end

      // blog Section starts
      section
        .container
          .row
            // blog details starts
            .col-sm-12
                include ../../_assets/rtl/blog/blog-details
            // blog details end
      // blog Section End
      div.bg-light
      include ../../_assets/rtl/includes/footer
      include ../../_assets/rtl/includes/footer-files
