- var src = "color-1.css"
- var inner = "index.html"
doctype html
html(lang='en', dir='rtl')
    head
      include ../../_assets/rtl/includes/header
    body.light-footer.rtl
      include ../../_assets/rtl/components/loader
      include ../../_assets/rtl/includes/nav
      .page-margin
        // breadcrumb start
        .breadcrumb-bg
          .container
            .row
              .col-md-6.col-sm-6.col-text-center.d-align-center
                h2.title
                  span إعادة النظر
              .col-md-6.col-sm-6.col-text-center
                nav.blog-bradcrumb(aria-label='breadcrumb')
                  ol.breadcrumb.bg-transparent.mb-0
                    li.breadcrumb-item
                      a(href='index.html') الصفحة الرئيسية
                    li.breadcrumb-item.active
                      a(href='#') إعادة النظر
        // breadcrumb end

        // sign in
        section
          .innerpage-decor
            .innerpage-circle1
              img(src='assets/images/Testimonial2.png', alt='')
            .innerpage-circle2
              img(src='assets/images/Testimonial1.png', alt='')
          .review-block
            .container
              .row.margin-bottom
                .col-lg-4.col-md-6
                  .review-box
                    img.img-fluid(src='assets/images/avtar/22.jpg', alt='review')
                    h5  جون مارتن
                    .rating-star
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                    .review-message
                      p
                        | أبجد هوز هو ببساطة النص الدموي لصناعة الطباعة والتنضيد. لوريم. صناعة التنضيد. لوريم نوع الإعداد
                .col-lg-4.col-md-6
                  .review-box
                    img.img-fluid(src='assets/images/avtar/1.jpg', alt='review')
                    h5  جون مارتن
                    .rating-star
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                    .review-message
                      p
                        | أبجد هوز هو ببساطة النص الدموي لصناعة الطباعة والتنضيد. لوريم. صناعة التنضيد. لوريم نوع الإعداد
                .col-lg-4.col-md-6
                  .review-box
                    img.img-fluid(src='assets/images/avtar/15.jpg', alt='review')
                    h5  جون مارتن
                    .rating-star
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                    .review-message
                      p
                        | أبجد هوز هو ببساطة النص الدموي لصناعة الطباعة والتنضيد. لوريم. صناعة التنضيد. لوريم نوع الإعداد
                .col-lg-4.col-md-6
                  .review-box
                    img.img-fluid(src='assets/images/avtar/22.jpg', alt='review')
                    h5  جون مارتن
                    .rating-star
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                    .review-message
                      p
                        | أبجد هوز هو ببساطة النص الدموي لصناعة الطباعة والتنضيد. لوريم. صناعة التنضيد. لوريم نوع الإعداد
                .col-lg-4.col-md-6
                  .review-box
                    img.img-fluid(src='assets/images/avtar/15.jpg', alt='review')
                    h5  جون مارتن
                    .rating-star
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                    .review-message
                      p
                        | أبجد هوز هو ببساطة النص الدموي لصناعة الطباعة والتنضيد. لوريم. صناعة التنضيد. لوريم نوع الإعداد
                .col-lg-4.col-md-6
                  .review-box
                    img.img-fluid(src='assets/images/avtar/1.jpg', alt='review')
                    h5  جون مارتن
                    .rating-star
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                    .review-message
                      p
                        | أبجد هوز هو ببساطة النص الدموي لصناعة الطباعة والتنضيد. لوريم. صناعة التنضيد. لوريم نوع الإعداد
        // sign up

      include ../../_assets/rtl/includes/footer
      include ../../_assets/rtl/includes/footer-files