- var src = "color-1.css"
doctype html
html(lang='en', dir='rtl')
    head
      include ../../_assets/rtl/includes/header
    body.rtl
      include ../../_assets/rtl/components/loader
      section.authentication-form
        .innerpage-decor
          .innerpage-circle1
            img(src='assets/images/Testimonial2.png', alt='')
          .innerpage-circle2
            img(src='assets/images/Testimonial1.png', alt='')
          div
            h2.title-center
              | إنه مجاني
              span  انضم إلى الولايات المتحدة
            p.text-center  مرحبًا بك في توفو ، يرجى الانضمام إلينا باستخدام معلومات حسابك الشخصي.
            .card
              form.theme-form
                .form-group
                  input.form-control(type='email', placeholder='عنوان البريد الإلكتروني', required='required')
                .form-group
                  input.form-control(required='', name='login[password]', type='password', placeholder='كلمه السر')
                  .show-hide
                    span.show
                .form-group.row
                  .custom-control.custom-checkbox.col-6
                    input#customControlAutosizing.custom-control-input(type='checkbox')
                    label.custom-control-label(for='customControlAutosizing') تذكرنى
                  a.text-left.col-6.theme-link(href='forget-pwd.html') فقدت كلمة المرور الخاصة بك
                .form-button.text-center
                  button.btn.btn-custom.btn-lg.theme-color(type='submit') تسجيل الدخول
                .or-saparator
                  span أو
                h6.text-center.mt-0.mb-3 تسجيل الدخول ب:
                .form-button.text-center.social-btns
                  button.btn.btn-custom.fb(type='submit') فيس بوك
                  button.btn.btn-custom.ggl(type='submit') جوجل

      include ../../_assets/rtl/includes/footer-files