.sidebar
  .sidebar-space
    h4.blog-title المنشور الاخير...
    .blog-divider
    .blog-cat-detail
      ul
        li.marg-15
          a(href='blog-details.html')
            i.fa.fa-angle-right(aria-hidden='true')
            |   أبجد هوز هو مجرد دمية
        li.marg-15
          a(href='blog-details.html')
            i.fa.fa-angle-right(aria-hidden='true')
            |   أبجد هوز هو مجرد دمية
        li.marg-15
          a(href='blog-details.html')
            i.fa.fa-angle-right(aria-hidden='true')
            |   أبجد هوز هو مجرد دمية
        li.marg-15
          a(href='blog-details.html')
            i.fa.fa-angle-right(aria-hidden='true')
            |   أبجد هوز هو مجرد دمية
        li.marg-15
          a(href='blog-details.html')
            i.fa.fa-angle-right(aria-hidden='true')
            |   أبجد هوز هو مجرد دمية
  .sidebar-space
    h4.blog-title علامة شعبية
    .blog-divider
    .tags.marg-20
      a(href='#')
        span.badge.badge-theme أبجد هوز هو مجرد دمية...
      a(href='#')
        span.badge.badge-theme خيارات اللون
      a(href='#')
        span.badge.badge-theme عروض تجريبية متعددة
      a(href='#')
        span.badge.badge-theme دعم مخصص
      a(href='#')
        span.badge.badge-theme دعم مخصص...
      a(href='#')
        span.badge.badge-theme كابل بيانات...
      a(href='#')
        span.badge.badge-theme نص
      a(href='#')
        span.badge.badge-theme الدعم
      a(href='#')
        span.badge.badge-theme متجاوب
      a(href='#')
        span.badge.badge-theme التصميم
  h4.blog-title المنشور الاخير
  .blog-divider
  .recent-blog.marg-20
    .media
      img.ml-3(src='assets/images/blog/1.jpg', alt='blog')
      .media-body
        a(href='blog-details.html')
          h5.mt-0 أبجد هوز هو مجرد دمية
        p.m-0 25 يناير 2018
    .media
      img.ml-3(src='assets/images/blog/1.jpg', alt='blog')
      .media-body
        a(href='blog-details.html')
          h5.mt-0 أبجد هوز هو مجرد دمية
        p.m-0 25 يناير 2018
    .media
      img.ml-3(src='assets/images/blog/1.jpg', alt='blog')
      .media-body
        a(href='blog-details.html')
          h5.mt-0 أبجد هوز هو مجرد دمية
        p.m-0 25 يناير 2018
