.sidebar
  .sidebar-space
    h4.blog-title blog Category
    .blog-divider
    .blog-cat-detail
      ul
        li.marg-15
          a(href='blog-details.html')
            i.fa.fa-angle-right(aria-hidden='true')
            |  Lorem Ipsum is simply
        li.marg-15
          a(href='blog-details.html')
            i.fa.fa-angle-right(aria-hidden='true')
            |  There Are Many Variations
        li.marg-15
          a(href='blog-details.html')
            i.fa.fa-angle-right(aria-hidden='true')
            |  it has survived not only five
        li.marg-15
          a(href='blog-details.html')
            i.fa.fa-angle-right(aria-hidden='true')
            |  Lorem Ipsum has been the.
        li.marg-15
          a(href='blog-details.html')
            i.fa.fa-angle-right(aria-hidden='true')
            |  Lorem Ipsum is random.
  .sidebar-space
    h4.blog-title Popular Tag
    .blog-divider
    .tags.marg-20
      a(href='#')
        span.badge.badge-theme Responsive design
      a(href='#')
        span.badge.badge-theme Color options
      a(href='#')
        span.badge.badge-theme Multiple demos
      a(href='#')
        span.badge.badge-theme Dedicated support
      a(href='#')
        span.badge.badge-theme Documentation
      a(href='#')
        span.badge.badge-theme PSD is included
      a(href='#')
        span.badge.badge-theme Text
      a(href='#')
        span.badge.badge-theme Support
      a(href='#')
        span.badge.badge-theme Responsive
      a(href='#')
        span.badge.badge-theme Design
  h4.blog-title Recent Post
  .blog-divider
  .recent-blog.marg-20
    .media
      img.mr-3(src='assets/images/blog/1.jpg', alt='blog')
      .media-body
        a(href='blog-details.html')
          h5.mt-0 Lorem Ipsum Is Simply Dummy
        p.m-0 05 March 2011
    .media
      img.mr-3(src='assets/images/blog/2.jpg', alt='blog')
      .media-body
        a(href='blog-details.html')
          h5.mt-0 Lorem Ipsum has been the
        p.m-0 14 january 2015
    .media
      img.mr-3(src='assets/images/blog/3.jpg', alt='blog')
      .media-body
        a(href='blog-details.html')
          h5.mt-0 all the Lorem Ipsum Generator
        p.m-0 30 November 2015
