.blog-item
  .blog-block
    .blog-box
      .overflow-hidden
        img.img-fluid(src='assets/images/blog/blog-details.jpg', alt='blog')
  .blog-text
    h6 25 january 2018
    a(href='#')
      h3.blog-head There are many variations of passages of Lorem Ipsum available, 
    .blog-divider
    .blog-description
      p
        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      p
        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      h5 Mark jkcno
      h5.pull-right
        | 10 
        i.fa.fa-heart-o
        | , 50 
        i.fa.fa-comments-o
.blog-divider
// Comment section
.reply-comment
  .media
    img.align-self-top.mr-3(src='assets/images/blog/blog-comment.jpg', alt='blog')
    .media-body
      a(href='blog-details.html')
        h5.mt-0 Lorem Ipsum Is Simply Dummy
      p
        | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
  .media
    img.align-self-top.mr-3(src='assets/images/blog/blog-comment-two.jpg', alt='blog')
    .media-body
      a(href='blog-details.html')
        h5.mt-0 Lorem Ipsum has been the
      p
        | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
  .media
    img.align-self-top.mr-3(src='assets/images/blog/blog-comment-three.jpg', alt='blog')
    .media-body
      a(href='blog-details.html')
        h5.mt-0 all the Lorem Ipsum Generator
      p
        | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
// Comment section end
.blog-divider
// leave comment sectopn starts
.row
  .col-md-10.offset-md-1.leave-coment
    h3.text-center Leave Your Comment
    form.theme-form.footer-form.p-0.mt-3
      .form-group
        .row
          .col-lg-6.col-md-12.md-fgrup-margin
            input.form-control(type='text', placeholder='your name')
          .col-lg-6.col-md-12
            input#exampleFormControlInput1.form-control(type='email', placeholder='email address')
      .form-group
        textarea#exampleFormControlTextarea1.form-control(rows='4', placeholder='message')
      .form-button
        button.btn.btn-custom.theme-color(type='submit') send
// leave comment section end
