.row.blog-list
  .col-md-6
    .blog-item
      .blog-block
        .blog-box
          .overflow-hidden
            a(href='blog-details.html')
              img.img-fluid(src='assets/images/blog/blog3.jpg', alt='blog')
      .blog-text
        a(href='blog-details.html')
          h3 There are many variations of passages.
          p
            | Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem . Typesetting Industry. Lorem  Typesetting Indust.
        h5 Mark jkcno
  .col-md-6
    .blog-item
      .blog-block
        .blog-box
          .overflow-hidden
            a(href='blog-details.html')
              img.img-fluid(src='assets/images/blog/6.jpg', alt='blog')
      .blog-text
        a(href='blog-details.html')
          h3 There are many variations of passages.
          p
            | Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem . Typesetting Industry. Lorem  Typesetting Indust.
        h5 Mark jkcno
  .col-md-6
    .blog-item
      .blog-block
        .blog-box
          .overflow-hidden
            a(href='blog-details.html')
              img.img-fluid(src='assets/images/blog/7.jpg', alt='blog')
      .blog-text
        a(href='blog-details.html')
          h3 There are many variations of passages.
          p
            | Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem . Typesetting Industry. Lorem  Typesetting Indust.
        h5 Mark jkcno
  .col-md-6
    .blog-item
      .blog-block
        .blog-box
          .overflow-hidden
            a(href='blog-details.html')
              img.img-fluid(src='assets/images/blog/8.jpg', alt='blog')
      .blog-text
        a(href='blog-details.html')
          h3 There are many variations of passages.
          p
            | Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem . Typesetting Industry. Lorem  Typesetting Indust.
        h5 Mark jkcno
  .col-md-6
    .blog-item
      .blog-block
        .blog-box
          .overflow-hidden
            a(href='blog-details.html')
              img.img-fluid(src='assets/images/blog/9.jpg', alt='blog')
      .blog-text
        a(href='blog-details.html')
          h3 There are many variations of passages.
          p
            | Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem . Typesetting Industry. Lorem  Typesetting Indust.
        h5 Mark jkcno
  .col-md-6
    .blog-item
      .blog-block
        .blog-box
          .overflow-hidden
            a(href='blog-details.html')
              img.img-fluid(src='assets/images/blog/10.jpg', alt='blog')
      .blog-text
        a(href='blog-details.html')
          h3 There are many variations of passages.
          p
            | Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem . Typesetting Industry. Lorem  Typesetting Indust.
        h5 Mark jkcno
